body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
    color: #006400; /* Dark Green */
}

/* Dashboard Heading */
h3 {
    text-align: center;
    color: #006400;
    margin-top: 20px;
}

/* Wallet Balance */
p {
    text-align: center;
    font-size: 18px;
    color: #006400;
}

/* GRID SYSTEM */
.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 20px;
}

/* SERVICE CARD */
.service-card {
    background: #e6ffe6;
    border: 2px solid #009900;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    color: #006400;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.2s;
}

/* 3D Floating Animation */
.floating {
    animation: float 2s infinite ease-in-out;
}

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-6px); }
    100% { transform: translateY(0px); }
}

.service-card:hover {
    transform: scale(1.05);
    background: #ccffcc;
}

/* TRANSACTION TABLE */
.transaction-table {
    width: 95%;
    margin: 20px auto;
    border-collapse: collapse;
}

.transaction-table th,
.transaction-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #009900;
    color: #006400;
    font-size: 14px;
}

/* CREDIT = GREEN */
.credit {
    color: green;
    font-weight: bold;
}

/* DEBIT = RED */
.debit {
    color: red;
    font-weight: bold;
}
